/*!
*
*
*
*
* start brands stylesheets
*
*
*
*
*
*/


// vars


jcb = #FCB026 //J.C.B
msy = #c41230 //massey ferguson
fdt = #2dba03 //fendt
dst = #047eb1 //dressta
isk = #0068b7 //iseki
cls = #d30a00 //Claas
ama = #e97714 //Amazone
asv = #a1c02f //ASV
mah = #e41937 //mahindra
yeo = #ff0f00 //yeomans plow 

div.brandCarousel a.jcb
    border-bottom-color: jcb !important
div.brandCarousel a.jcb i
    color: jcb

div.brandCarousel a.msy
    border-bottom-color: msy !important
div.brandCarousel a.msy i
    color: msy

div.brandCarousel a.fdt
    border-bottom-color: fdt !important
div.brandCarousel a.fdt i
    color: fdt

div.brandCarousel a.dst
    border-bottom-color: dst !important
div.brandCarousel a.dst i
    color: dst

div.brandCarousel a.isk
    border-bottom-color: isk !important
div.brandCarousel a.isk i
    color: isk

div.brandCarousel a.cls
    border-bottom-color: cls !important
div.brandCarousel a.cls i
    color: cls    

div.brandCarousel a.ama
    border-bottom-color: ama !important
div.brandCarousel a.ama i
    color: ama

div.brandCarousel a.asv
    border-bottom-color: asv !important
div.brandCarousel a.asv i
    color: asv
    
div.brandCarousel a.mah
    border-bottom-color: mah !important
div.brandCarousel a.mah i
    color: mah

div.brandCarousel a.yeo
    border-bottom-color: yeo !important
div.brandCarousel a.yeo i
    color: yeo    





// logo size mods    
a.jcb img
    max-height:30px !important
a.msy img
    max-height:42px !important
a.fdt img
    max-height:15px !important 
a.dst img
    max-width:120px !important        
a.ama img
    max-width:130px !important       
a.asv img
    max-height:25px !important    
a.mah img
    max-width:120px !important 
a.yeo img
    max-height:42px !important






// dropdown theming
div.ddownOuter.jcb a.ddownClose i
    color: jcb
div.ddownOuter.jcb div.ddownInner section:first-child
    border-right-color: jcb
div.ddownOuter.jcb div.ddownInner nav i
    background-color: jcb
