/*!
*
*
*
*
* start brands stylesheets
*
*
*
*
*
*/


// vars


jcb = #FCB026 //J.C.B
massey-ferguson = #c41230 //massey ferguson
fendt = #2dba03 //fendt
dressta = #047eb1 //dressta
iseki = #0068b7 //iseki
claas = #d30a00 //Claas
amazone = #e97714 //Amazone
asv = #a1c02f //ASV
mahindra = #e41937 //mahindra
yeomans-plow = #ff0f00 //yeomans plow 


/* brandCarousel  */
div.brandCarousel a.jcb i
    color: jcb
div.brandCarousel a.jcb
    border-color: jcb !important

div.brandCarousel a.massey-ferguson
    border-color: massey-ferguson !important
div.brandCarousel a.massey-ferguson i
    color: massey-ferguson

div.brandCarousel a.fendt
    border-color: fendt !important
div.brandCarousel a.fendt i
    color: fendt

div.brandCarousel a.dressta
    border-color: dressta !important
div.brandCarousel a.dressta i
    color: dressta

div.brandCarousel a.iseki
    border-color: iseki !important
div.brandCarousel a.iseki i
    color: iseki

div.brandCarousel a.claas
    border-color: claas !important
div.brandCarousel a.claas i
    color: claas    

div.brandCarousel a.amazone
    border-color: amazone !important
div.brandCarousel a.amazone i
    color: amazone

div.brandCarousel a.asv
    border-color: asv !important
div.brandCarousel a.asv i
    color: asv
    
div.brandCarousel a.mahindra
    border-color: mahindra !important
div.brandCarousel a.mahindra i
    color: mahindra

div.brandCarousel a.yeomans-plow
    border-color: yeomans-plow !important
div.brandCarousel a.yeomans-plow i
    color: yeomans-plow    









// logo size mods    
a.jcb img
    max-height:30px !important
a.massey-ferguson img
    max-height:42px !important
a.fendt img
    max-height:15px !important 
a.dressta img
    max-width:120px !important        
a.amazone img
    max-width:130px !important       
a.asv img
    max-height:25px !important    
a.mahindra img
    max-width:120px !important 
a.yeomans-plow img
    max-height:42px !important






// dropdown theming
div.ddownOuter.jcb a.ddownClose i
    color: jcb
div.ddownOuter.jcb div.ddownInner section:first-child
    border-right-color: jcb
div.ddownOuter.jcb div.ddownInner nav i
    background-color: jcb






/* brand silos */
body.jcb
    colors = '#breadcrumb nav i:before,
    div.keyStats span,
    div.catList i:before,
    .brand,
    h1, 
    h2,
    main a.ctaButton:hover'
    {colors}
        color: jcb !important
    borders = 'main hr,
    .thumbImg a.activeLink,
    div.keyStats p,
    main a.ctaButton,
    table.rowResponsive tbody tr '
    {borders}
        border-color: jcb !important 
    bgs = 'main a.ctaButton,
    table.rowResponsive thead '
    {bgs}
        background-color: jcb 
     brandHR = 'main hr'
    {brandHR}
        border-bottom-width: 3px

body.massey-ferguson
    colors = '#breadcrumb nav i:before,
    div.keyStats span,
    div.catList i:before,
    .brand,
    h1, 
    h2,
    main a.ctaButton:hover'
    {colors}
        color: massey-ferguson !important
    borders = 'main hr,
    .thumbImg a.activeLink,
    div.keyStats p,
    main a.ctaButton,
    table.rowResponsive tbody tr '
    {borders}
        border-color: massey-ferguson !important 
    bgs = 'main a.ctaButton,
    table.rowResponsive thead '
    {bgs}
        background-color: massey-ferguson 
     brandHR = 'main hr'
    {brandHR}
        border-bottom-width: 3px