/*!
*
*
*
*
* start brands stylesheets
*
*
*
*
*
*/


// vars


jcb = #FCB026 //J.C.B
msy = #c41230 //massey ferguson
fdt = #2dba03 //fendt
dst = #047eb1 //dressta
isk = #0068b7 //iseki
cls = #d30a00 //Claas
ama = #e97714 //Amazone
asv = #a1c02f //ASV
mah = #e41937 //mahindra
yeo = #ff0f00 //yeomans plow 


/* global */
div.brandCarousel a.jcb i
    color: jcb
div.brandCarousel a.jcb
    border-color: jcb !important


brandHR = 'body.jcb main hr'
{brandHR}
    border-bottom-width: 3px


/* brand silos */
body.jcb
    jcbcolors = '
    #breadcrumb nav i:before,
    div.keyStats span,
    div.catList i:before,
    h1, 
    h2'
    {jcbcolors}
        color: jcb
    jcbborders = 'main hr'
    {jcbborders}
        border-color: jcb !important   

div.brandCarousel a.msy
    border-color: msy !important
div.brandCarousel a.msy i,
body.msy #breadcrumb nav i:before
    color: msy

div.brandCarousel a.fdt
    border-color: fdt !important
div.brandCarousel a.fdt i,
body.fdt #breadcrumb nav i:before
    color: fdt

div.brandCarousel a.dst
    border-color: dst !important
div.brandCarousel a.dst i,
body.dst #breadcrumb nav i:before
    color: dst

div.brandCarousel a.isk
    border-color: isk !important
div.brandCarousel a.isk i,
body.isk #breadcrumb nav i:before
    color: isk

div.brandCarousel a.cls
    border-color: cls !important
div.brandCarousel a.cls i,
body.cls #breadcrumb nav i:before
    color: cls    

div.brandCarousel a.ama
    border-color: ama !important
div.brandCarousel a.ama i,
body.ama #breadcrumb nav i:before
    color: ama

div.brandCarousel a.asv
    border-color: asv !important
div.brandCarousel a.asv i,
body.asv #breadcrumb nav i:before
    color: asv
    
div.brandCarousel a.mah
    border-color: mah !important
div.brandCarousel a.mah i,
body.mah #breadcrumb nav i:before
    color: mah

div.brandCarousel a.yeo
    border-color: yeo !important
div.brandCarousel a.yeo i,
body.yeo #breadcrumb nav i:before
    color: yeo    





// logo size mods    
a.jcb img
    max-height:30px !important
a.msy img
    max-height:42px !important
a.fdt img
    max-height:15px !important 
a.dst img
    max-width:120px !important        
a.ama img
    max-width:130px !important       
a.asv img
    max-height:25px !important    
a.mah img
    max-width:120px !important 
a.yeo img
    max-height:42px !important






// dropdown theming
div.ddownOuter.jcb a.ddownClose i
    color: jcb
div.ddownOuter.jcb div.ddownInner section:first-child
    border-right-color: jcb
div.ddownOuter.jcb div.ddownInner nav i
    background-color: jcb
