// icons
.icon
    background-color: brand1
    color: white
    display: flex
    justify-content: center
    align-items: center
    width: 45px
    height: 45px
    padding:0.2em
    font-size: 1.1em
    border-radius: 50%
.icon.alt
    background-color: brand2
.ic-basic
    font-size: 2.2em
    line-height: 1.8em
    color: brand1
.ic-basic::before
    color: brand1
.ic-basic.rev
    color: white
.ic-basic.rev::before
    color: white
ul.iconRow,
ul.iconRow li
    list-style-type: none
ul.iconRow li
    margin: marXXS marStd 0 0
    padding: padXXS padStd padXXS 0 
    display: inline-block
    border-right:1px solid brand1
ul.iconRow li:last-child
    border-right:none
ul.iconRow li i 
    font-size: 2em
div.socialLinks
    display: flex
    justify-content: center
div.socialLinks a
    font-size: 2.5em
    padding: padStd
    flex-basis: 20%

main div.socialLinks
    justify-content:flex-start
main div.socialLinks a
    font-size: 2em
    padding: padStd
    padding-left:0
    padding-top:0
    flex-basis: auto
@media phoneRule 
    main div.socialLinks a
        margin-right: marStd*2


       

#navMobile .icon,
#navHeader .icon
    background: none
body > footer .icon
    display: inline-flex
    // background-color: blackAlp10
    font-size: 1.4em
    width:40px
    height: 40px
    margin-right: 1px
    margin-bottom: 10px
    justify-content: flex-start
    background: none
    padding: 0
// ctas
a.majorCTA,
a.ctaButton
    color: white
    background-color: brand3
    padding: padXXS padXS padXXS padXS
    margin-bottom: 7px
    display: inline-block
    white-space: nowrap
    border-radius: 2em
    font-size: 0.8em
    font-weight: 500
div#masthead a.majorCTA
    color: white !important
a.ctaButton
    border-radius: 50px
    background: brand1
    color: white !important
    font-size: 1em
    font-weight:500
    border: 1px solid brand1
    padding:padXXS padXS
    //margin-right:marXXS
    display: inline-flex
    justify-content: space-between
    transition: 0.2s
    white-space: normal
nav a.ctaButton
    background:none
    color:brand1 !important
    margin-left: 0
    margin-right: marXS
    margin-bottom: 0
    padding:padXXS*.75 padXS
    white-space: nowrap

a.ctaButton i
    margin-left:15px 
    margin-right:10px;
    transition: 0.2s 
a.ctaButton i:before
    color: white
a.ctaButton:hover,
a.ctaButton:hover > i:before
    background: none
    color: brand2 !important
    border-color: brand2 !important
    border-bottom-color: brand2 !important
    transition: 0.2s 
a.ctaButton:hover i
    margin-left:25px
    margin-right:0px
    transition: 0.5s 
#priNav a.majorCTA
    text-shadow: 0px 1px 2px halfDark    
    box-shadow: 0px 2px 2px black
div.cta > div
    text-align: center
div.cta > div > h6
    margin-bottom: 0

@media phoneRule
    a.majorCTA
        font-size:1.1em
        font-weight: 800
        padding: padM padXL padM padXL  
    a.ctaButton
        padding-top: padM
        padding-bottom: padM


.imgText
    display: flex
    align-items: center
    flex-wrap: wrap
    padding: 1vw
    padding-right: 1.5vw
    padding-left:0
    border-radius: 8px
body > footer .imgText
    padding:0;
header.sticky .imgText
    display: flex
    align-items: center
.siteLogo
    font-size: 16px
    line-height: 18px
.txtC .txtC_Pr
    font-size: 0.9em
    font-weight: 700
    line-height: 1.2em
    margin: .1em 0
    margin-right: 5px
    @media phoneRule
        font-size: .85em
.txtC .txtC_Sc
    font-size: .65em
    font-weight: 500
    line-height: 1.2em
    text-transform: uppercase
    @media phoneRule
        font-size: .5em
        //display: none

a.imgText
    border: 1px solid rgba(0,0,0,0)
a.imgText:hover
    border:1px solid blackAlp10
a.imgText.siteLogo
    border:none
  
.imgText span.txtC
    display: flex
    flex-direction: column
    justify-content: center 
    padding: 1px 0    
header.sticky .imgText span.txtC
    flex-direction: row
    align-items: baseline

.imgText span.txtC > span
    white-space: nowrap   
.imgText picture
    display: flex
    width: 100%  
    height: 100% 
    margin-right: 10px
.imgText picture img
    height: auto
    width: 100%

.imgText.tall span.txtC
    justify-content: flex-end   

.imgText.stacked
    flex-direction: column
.imgText.stacked span.txtC
    padding: 0
    padding-left: 5px 
.imgText.stacked picture 
    margin-right: 0
    margin-bottom: 10px

picture.logoAsset
    max-width:65px
.long picture.logoAsset
    max-width:190px
.tall picture.logoAsset
    max-width:60px   

header.sticky picture.logoAsset
    max-width:35px
    max-height:35px

header.sticky .long picture.logoAsset
    max-width:100px
header.sticky .tall picture.logoAsset
    max-width:25px   
header.sticky .imgText.stacked
    flex-direction: row
header.sticky .imgText.stacked picture
    margin-bottom: 0

// logos
.mLogo picture
    margin-right: 10px
    max-width:100% !important
.mLogo img
    max-height:8vh !important
    width:auto !important
.mLogo.long 
    flex-direction: column
.mLogo.long picture 
    max-width:150px !important
    @media phoneRule
        margin-bottom: 0px
.mLogo.long img
    max-height:100% !important
    max-width:150px !important


.inpage-logo
    display: block
    width: 50vw
    height: auto 
.inpage-logo-stacked
    display: block
    width: 50vw
    height: auto      
@media ttrigger    
    body > footer img.logo
        width: 5vw
    .inpage-logo
        width: 30vw
    .inpage-logo-stacked
        width: 30vw    
@media dtrigger    
    .inpage-logo
        width: 25vw
    .inpage-logo-stacked
        width: 10vw


.grid-clients
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr))
  grid-gap: 5px

.grid-clients > div
  padding: 1vw
  display: grid
  place-items: center
  border:1px solid blackAlp10

.grid-clients > div::before
  content: ""
  display: block
  padding-bottom: 100%
  grid-area: 1 / 1 / 2 / 2

.grid-clients > div img
  width: 100%
  grid-area: 1 / 1 / 2 / 2



// misc
i.block
    display: inline-block
    font-size:1em
    line-height: 100%
    font-weight: 900
.faded
    opacity:0.4   
    transition: 0.3s 
.rotateIC
    transition: 0.2s
    transform: rotate(180deg) 
.brand1
    color: brand1
.brand2
    color: brand2


// video
.pbVideo
    position: relative
    padding-bottom: 56.25%
    padding-top: 0
    height: 0
.pbVideo iframe 
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
div.video
    position: relative
div.video > div
    width: 100%
    height: 100%  
.hidden-xs
    display: none
div.vidHolder
    position: absolute
    top: 0
    left: 0px
    width: 100%
    height: 100%
    overflow: hidden
video.hidden-xs
    width: 100%
    height: 100%
    object-fit: cover
@media dtrigger
    video.hidden-xs
        width: 100%
        height: 100%
@media dtrigger
    .hidden-xs
        display: block
       


// images
img 
    //width: 100%
    //height: auto
    display: block
img.med
    width: 75%
    margin: 0px auto



// caption and quote styling
p.figureCap
    width: auto
    border-left: 2px solid brand1
    padding: padXS padL padM padM
    margin-left: marL*2 
    position relative   
    margin-bottom: marL
p.quote::before
    position: absolute
    content: '\201C'
    left: - + marXS*2.2
    font-weight: 1000
    font-size: 70px
    display: flex
    align-items: flex-end
    height: 40px
    line-height: 15px
@media phoneRule
    p.figureCap
        font-size: 0.8em
    p.quote::before
        left: -40px
        font-size: 60px
        height: 35px
@media tabletRule
    p.figureCap
        width: auto
    p.quote::before
        left: -50px
@media dtrigger
    p.figureCap
        width: 40vw
        padding: padXXS padXS
        margin-left: marXS*2 
        margin-bottom: marL
    p.quote::before
        left: -50px



// slider
div.slider
    //border: 1px solid red
    //overflow: hidden
    background-color: brand1



// inpage nav for desktop
.inpgNv
    text-align: right 
@media phoneRule
    .inpgNv .inpgNvTop
        display: none



// infographics
.gridBoxes 
    display: grid
    justify-content: center
    align-content: center
    grid-template-columns: repeat(2, 27vmin)
    grid-template-rows: repeat(3, 20vmin)
    grid-gap: 1px
.gridBoxes > *
    background-blend-mode: multiply
    background: linear-gradient(to bottom left, rgba(180,0,0,0.8),rgba(180,0,0,1), rgba(190,0,0,0.8), rgba(200,0,0,0.8))        
    padding: 1.2em
.gridBoxes > * > *
    margin: 0.1em

@media phoneRule 
    article.bythenumbers *.picturefill-background
        height: auto
    article.bythenumbers div.content
        flex-direction: column    
    .gridBoxes
        display: block
    .gridBoxes br
        display: none

div.infographic
    position: relative
div.ig-whatisomni
    margin-top: 0
div.ig-whatisomni.end
    margin-bottom: marL    

div.ig-whatisomni div.igHeader,
div.ig-whatisomni div.igContent
    display: flex
    flex:1 1 auto
    justify-content: flex-start
    align-items: stretch
    flex-wrap: nowrap
    @media phoneRule
        flex-direction: column

div.ig-whatisomni div.igContent
    background-color: #fefefe
 
div.ig-whatisomni div.igItem
    padding: padXS padStd
    border-left:1px solid #dedede
    border-bottom:1px solid #dedede
    display: flex
    flex:1 1 auto
    justify-content: flex-start
    align-items: flex-start
    flex-wrap: wrap
    flex-basis: 20%
    @media phoneRule 
        padding: padL padXL
        border-left: none
div.ig-whatisomni div.igItem:last-child 
    border-right:1px solid #cccccc
    @media phoneRule 
        border-right: none
@media phoneRule 
   div.ig-whatisomni div.igItem hr
        display: none

div.ig-whatisomni div.igHeader div.igItem
    padding-bottom: padXXS
    

div.ig-whatisomni div.igItem > div
    padding: padXXS
div.ig-whatisomni div.igItem > div > *
    margin: 0
    line-height: 1.3em
    margin-bottom: marXXS
div.ig-whatisomni div.igItem h5
    padding-bottom: 0
    margin-bottom: 0
div.ig-whatisomni div.igItem.orange h5
    color: #d8481b
div.ig-whatisomni div.igItem.yellow h5
    color: #eb9626   

@media phoneRule 
    div.ig-whatisomni div.igItem h5 > br
        display: none
    div.ig-whatisomni div.igItem p
        margin: marXXS 0


@media dtrigger
    div.ig-whatisomni div.igItem
        flex-direction: column
    div.ig-whatisomni div.igItem > div
        padding-left: 0
        padding-bottom: 0
    div.ig-whatisomni div.igItem > div > *:not(p)
       margin-right: 10px;



/* inView effects */
@media dtrigger
    .greyToColor.onOff .stateInactive
        background-color: blackAlp50 !important
        filter:grayscale(100%)
        transition: 1s
    .greyToColor.onOff .stateActive
        background-color: blackAlp10 !important
        filter:grayscale(0%)
        transition: 2.5s    



/* app store links */
span.storeLinks 
    display: block
span.storeLinks a, 
span.storeLinks a img
    display: block
    max-width:150px
    max-height:40px
span.storeLinks a
    display: inline-block


/* simple list */
ul.featureList li
    list-style-type: none
    line-height:1.5em
    margin-bottom: 0.75em
ul.featureList li strong
    display: inline-block
    min-width:12%

/* footer list */
body > footer ul 
    margin: 0
    padding: 0
    margin-bottom: marXXS
    padding-bottom: padXXS
    // border-bottom: 2px solid blackAlp10

body > footer ul > strong
    display: inline-block
    font-size:1em
    line-height: 1.6em
    margin-bottom: 1em

body > footer ul > li
    font-size:0.9em
    list-style-type: none
    line-height: 1.4em
    padding: 0.7em 0
    border-top: 1px solid blackAlp10
    

/* form */
#contact label 
    display: block
    line-height: 2em
    margin-bottom: 0.3em
#contact input,
#contact textarea 
    width: 90%
    padding:2%;
    margin-bottom: 1em
#contact input[type=submit]
    width: auto
    padding-left: padStd
    padding-right: padStd

/* Contact form defaults */
#contact #inputContainer #loadingText,
#contact #inputContainer #errorText,
#contact #inputContainer #doneText
    display: none


/* Contact form loading */
#contact #inputContainer.loading #loadingText
    display: block

#contact #inputContainer.loading #submit,
#contact #inputContainer.loading #errorText,
#contact #inputContainer.loading #doneText
    display: none

/* Contact form error */
#contact #inputContainer.error #errorText 
    display: block

#contact #inputContainer.error #submit,
#contact #inputContainer.error #loadingText,
#contact #inputContainer.error #doneText 
    display: none


/* Contact form done */
#contact #inputContainer.done #doneText
    display: block

#contact #inputContainer.done #submit,
#contact #inputContainer.done #loadingText,
#contact #inputContainer.done #errorText 
    display: none




div.thirdparty-logo
    border:1px solid brand1
    background-color: blackAlp5
    padding: padXXS !important


div.containSlider
    position: relative

body.lightSlider div.slickSlider
    background-color: white
body.darkSlider div.slickSlider
    background-color: black

div.slideTextOverlay
    position: absolute
    z-index: 1
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    font-size: 3.5em
    letter-spacing: -0.05em
    font-weight: 600
    padding:0
body.lightSlider div.slideTextOverlay
    color: brand2
body.darkSlider div.slideTextOverlay
    color: brand1






/* brand carousel in masthead */

div.brandCarousel
    padding:0 padM padXS padM

div.brandCarousel div.slickItem
    height:60px
    margin-left: 7px
    margin-right: 7px

div.brandCarousel div.slickItem > a
    height:60px
    display: flex
    justify-content: space-between
    align-items: center
    padding-bottom:10px
    border-bottom:3px solid brand1
    outline: none;
    transition: 0.5s
@media (pointer: fine)    
    div.brandCarousel div.slickItem > a:hover
        margin-top:6px;
div.brandCarousel div.slickItem > a > div:last-child 
    flex-basis:20px
    margin-left:20px
    margin-right:5px
div.brandCarousel div.slickItem > a > div:first-child
    flex-basis:40%
    margin-left:10px
div.brandCarousel div.slickItem > a img
    max-width:100% 
    max-height:35px 
div.brandCarousel .slick-prev:before
div.brandCarousel .slick-next:before
    font-family: 'icomoon'
    font-size: 22px
    opacity: .5
div.brandCarousel .slick-prev:before
    content: '\e905'   
div.brandCarousel .slick-next:before
    content: '\e906'    
div.brandCarousel .slick-prev
    left:-2vw
div.brandCarousel .slick-next
    right:-2vw
div.slickBrands // use to hide and then js to show to mitigate FOUC
    display: none


@media phoneRule
    div.brandCarousel
        display: none;


/* dropdown containers */
a.ddownClose 
    padding: 0
    display: inline-block
    position: absolute
    top: marXS
    right: marStd
a.ddownClose i
    font-size:2.1em;
    transition:0.2s

div.ddownOuter
    border-top: 2px solid lightGrey
    background-color: white
    position: absolute
    z-index 10000
    width: 100%
    display: flex
    min-height: 50vh

div.ddownInner
    padding:padM
    margin-right: marM
    display: flex
    justify-content: space-between
div.ddownInner section
    flex:1 1 75%

div.ddownInner section:first-child
    flex-basis: 25%
    margin-right: marStd
    padding-right: padStd
    border-right:4px solid brand1
div.ddownInner section.desc
    display: flex
    flex-direction: column
    justify-content: space-between

div.ddownInner picture.brand
    display: inline-block
    width:150px
    margin-top: marXS
    margin-bottom: marStd
div.ddownInner picture.brand img
    width:100% 
    height: auto
div.ddownInner nav a
    display: inline-flex
    align-items: center
    flex-shrink: 0
div.ddownInner nav a span
    display: inline-flex
    align-items: center
    font-weight: 350 !important
    font-size: 1.2em !important
    line-height: 1.2em    
div.ddownInner nav a i
    margin-right: marXXS
    font-size:30px
    width: 60px
    height: 60px
    flex:0 0 auto
    transition:0.2s

div.ddownOuter
    display: none;
@media phoneRule2
    div.ddownOuter
        display: none;

/* brandable elements in dropdown */
a.ddownClose i
    color: brand1
div.ddownInner section:first-child
    border-right-color: brand1
div.ddownInner nav i
    background-color: brand1
@media (pointer: fine)
    a.ddownClose:hover i
        color: brand1 !important
        transition:0.4s
    div.ddownInner nav a:hover
        color: brand1 !important
    div.ddownInner nav a:hover i
        background-color: brand2 !important
        transition:0.4s





/* .smallGrid */
.smallGrid
    display: grid
    grid-gap: 0.5vw 1.5vw
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr))
.smallGrid > *
    padding: padXXS*0.5
    border-radius: 4px
   