@charset "UTF-8";
@font-face {
  font-family: "Inter VF";
  src: url("/fonts/Inter/Inter.var.woff2") format("truetype-variations");
  font-style: normal;
  font-weight: 200 800; }

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-ExtraBold.woff2") format("woff2"),
  url("/fonts/Inter/Inter-ExtraBold.woff") format("woff");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Bold.woff2") format("woff2"),
  url("/fonts/Inter/Inter-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
  url("/fonts/Inter/Inter-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Medium.woff2") format("woff2"),
  url("/fonts/Inter/Inter-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Regular.woff2") format("woff2"),
  url("/fonts/Inter/Inter-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Light.woff2") format("woff2"),
  url("/fonts/Inter/Inter-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-ExtraLight.woff2") format("woff2"),
  url("/fonts/Inter/Inter-ExtraLight.woff") format("woff");
  font-style: normal;
  font-weight: 200; }
